body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding:0 0 8rem 0;
}

section.hello{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin: 8rem auto 4rem auto;
}

section.hello > img{
    max-width: 12rem;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-right: 2rem;
    box-shadow: 0 0 0 5px #f9f9f9;
}

section.tech-stack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

section.tech-stack > img{
    max-width: 3rem;
    margin-right: 2rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    display: inline-block;
}

section.tech-stack > img:last-child{
    margin-right: 0;
}

section.tech-stack > img:hover{
    transform: scale(1.25);
    cursor: pointer;
}

.highlight{
    background-color: #f6277d;
    color: #fff;
}

.highlight2{
    background-color: #8d0634;
    color: #fff;
}

.highlight, .highlight2{
    padding: 0.09rem 0.5rem;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    font-weight: 600;
}

.andalso{
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1.7;
    color: #666;
}