body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding:0 0 8rem 0;
    max-width: 100vw;
}

section.hello{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin: 8rem auto 4rem auto;
}

section.hello > img{
    max-width: 12rem;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-right: 2rem;
    box-shadow: 0 0 0 5px #f9f9f9;
}

section.tech-stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

section.tech-stack > .tech-stack-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

section.tech-stack > .tech-stack-row > img{
    width: 2.5rem;
    margin-right: 2rem;
    transition: all 0.1s ease-in-out;
    position: relative;
    display: inline-block;
}

section.tech-stack > .tech-stack-row > img:last-child{
    margin-right: 0;
}

section.tech-stack > .tech-stack-row > img:hover{
    transform: scale(1.25);
    cursor: pointer;
}

section.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    margin: 4rem auto 0 auto;
}

section.contact > a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

section.contact > a:first-child{
    background-color: #0072b1;
    margin-right: 2rem;
}

section.contact > a:last-child{
    background-color: #8d0634;
}

section.contact > a > img{
    max-width: 1rem;
    margin-left: 1rem;
}

section.contact > a:hover{
    transform: scale(1.05);
}

.highlight{
    background-color: #f6277d;
    color: #fff;
}

.highlight2{
    background-color: #8d0634;
    color: #fff;
}

.highlight, .highlight2{
    padding: 0.09rem 0.5rem;
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    font-weight: 600;
}

.andalso{
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1.7;
    color: #666;
}

@media (max-width: 992px) {
    .container{
        padding: 1rem 1rem 4rem 1rem;
    }

    section.hello{
        margin: 0 auto;
        flex-direction: column;
    }

    section.hello > img{
        margin-right: 0;
    }

    section.tech-stack > .tech-stack-row{
        flex-wrap: wrap;
        justify-content: center;
    }

    section.tech-stack > .tech-stack-row > img{
        margin: 0 1rem 2rem 1rem;
    }
}